.brown {
	color:#65595C;
}

.white {
	color:#FCFAF8;
}

.orange {
	color:#F9A61B;
}

.maroon {
	color:#963545;
}

.yellow {
	color:#FFCE1E;
}

.lightbrown {
	color:#E2DACF;
}

.pink {
	color:#D7BAC4;
}

.dimgray {
	color:#515b64
}


.bg-brown {
	background-color:#65595C;
}

.bg-white {
	background-color:#FCFAF8;
}

.bg-orange {
	background-color:#F9A61B;
}

.bg-maroon {
	background-color:#963545;
}

.bg-yellow {
	background-color:#FFCE1E;
}

.bg-lightbrown {
	background-color:#E2DACF;
}

.bg-pink {
	background-color:#D7BAC4;
}

.bg-dimgray {
	background-color:#515b64
}



.outline-brown {
	border-width:1px;
	border-style:solid;
	border-color:#65595C;
}

.outline-white {
	border-width:1px;
	border-style:solid;
	border-color:#FCFAF8;
}

.outline-orange {
	border-width:1px;
	border-style:solid;
	border-color:#F9A61B;
}

.outline-maroon {
	border-width:1px;
	border-style:solid;
	border-color:#963545;
}

.outline-yellow {
	border-width:1px;
	border-style:solid;
	border-color:#FFCE1E;
}

.outline-lightbrown {
	border-width:1px;
	border-style:solid;
	border-color:#E2DACF;
}

.outline-pink {
	border-width:1px;
	border-style:solid;
	border-color:#D7BAC4;
}

.outline-dimgray {
	border-width:1px;
	border-style:solid;
	border-color:#515b64
}
