* {
  box-sizing: border-box;
}

body {
  background: #fdfdfd;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

#main {
  padding-top: 50px;
  height:100vh;
  width:100vw;
  overflow:hidden;
  margin: 0 auto;
}

.flex-container {
	display:flex;
}

.flex-vert{
	flex-direction:column;
}

.flex-center {
	justify-content: space-around;
}

.flex-mid {
	align-items: center;
}

.fill-height{
  height:100%;
}

.fill-width{
  width:100%;
}
.fill-parent{
  height:100%;
  width:100%;
}

.row {
  margin:0;
}

.box-shadow{
	box-shadow:2px 2px 2px rgba(0,0,0,0.4);
}

.navbar-collapse.collapse {
display: block!important;
}

.navbar-nav>li, .navbar-nav {
float: left !important;
}

.navbar-nav.navbar-right:last-child {
margin-right: -15px !important;
}

.navbar-right {
float: right!important;
}

@import 'directives/main';
@import 'home/main';
@import 'about/main';
@import 'tutorial/main';
@import 'login/main';
@import 'landing-page';
@import 'color-scheme';
@import 'projects/main';